---
import { Image } from 'astro:assets'
import Button from 'san-webkit-next/ui/core/Button'
import sanIllustration from './assets/san-illustration.png'
import { data as dimensions } from './assets/data'
import { cn } from 'san-webkit-next/ui/utils'

type TProps = {
  class: string
}

const { class: className = '' } = Astro.props as TProps
---

<section class={className}>
  <h3 class="text-3xl font-semibold text-rhino mb-8 text-center md:text-xl">About SAN Tokens</h3>
  <p class="text-lg text-waterloo max-w-[556px] mx-auto mb-9 text-center">
    SAN is a utility token that provides access to exclusive parts of Sanbase.
  </p>
  <Button
    variant="border"
    icon="question-circle"
    iconSize={12}
    class="mx-auto mb-9 fill-casper text-sm hover:bg-transparent hover:text-green"
    >How to buy SAN token?</Button
  >
  <p class="text-lg text-waterloo max-w-[361px] mx-auto mb-9 text-center">
    We expect the token economy will have three main dimensions:
  </p>
  <div class="flex justify-between gap-7 lg:flex-col">
    <Image src={sanIllustration} class="max-w-[716px] w-full lg:mx-auto" alt="" />
    <ul class="flex flex-col gap-4 lg:flex-row md:flex-wrap md:justify-center">
      {
        dimensions.map(({ title, goal, how, className }) => (
          <li class="py-6 px-8 max-w-[361px] border border-r-porcelain rounded-lg">
            <h4 class="text-lg mb-1">
              <span>SAN as </span>
              <span class={className}>{title}</span>
            </h4>
            <div class="text-sm text-waterloo mb-4">({goal})</div>
            <div class={cn('text-sm', className)}>{how}</div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
