---
import { Image } from 'astro:assets'
import Svg from 'san-webkit-next/ui/core/Svg'

interface Props {
  displayName: string
  content: string
  handle: string
  id: string
  avatar: ImageMetadata
}

const { displayName, content, handle, id, avatar } = Astro.props
---

<div
  aria-label="Opens Tweet on Twitter in a new tab"
  class="mr-8 h-[400px] min-h-[400px] w-[360px] min-w-[360px] rounded-[10px] border border-porcelain bg-white text-rhino shadow-[0_2px_24px_rgba(24,27,43,0.04),1px_3px_7px_rgba(47,53,77,0.05)] transition-transform duration-100 ease-in-out hover:scale-[1.01] hover:text-mirage"
>
  <article class="flex h-full w-full flex-col p-8">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={`https://twitter.com/${handle}/status/${id}`}
      class="cursor-pointer"
    >
      <header class="mb-6 flex items-start">
        <Image src={avatar} alt="" class="mr-4 h-12 w-12 rounded-full" />
        <div class="max-w-[200px]">
          <div class="mb-[2px] text-base font-semibold leading-tight text-[#181b2b]">
            {displayName}
          </div>
          <div class="text-sm leading-snug text-waterloo">@{handle}</div>
        </div>
        <Svg id="twitter-x" w={24} class="ml-auto" />
      </header>
    </a>
    <div
      class="text-base leading-relaxed text-rhino [&>*]:text-base [&>*]:leading-relaxed [&>*]:text-rhino [&>a+*]:ml-0 [&>a]:mx-1 [&>a]:text-[#4da0eb] [&>img]:mt-3 [&>img]:h-auto [&>img]:w-full [&>img]:rounded-2xl"
      set:html={content}
    />
  </article>
</div>
