---
import '../app.css'
import 'san-webkit-next/app.css'
import Notifications from 'san-webkit-next/ui/core/Notifications'

import Intercom from '../components/Intercom.svelte'
import Tracking from '../components/Tracking.svelte'
import Nav from '../components/Nav'
import CookiesPopupWrapper from '../components/CookiesPopupWrapper.svelte'
import { ClientRouter } from 'astro:transitions'
import SEO from '../components/SEO.astro'

type Props = {
  class?: string
  title?: string
  description?: string
  isNavAnimated?: boolean
  isNavNightMode?: boolean
}

const {
  class: className = '',
  title = 'Crypto Research, Data, Tools - Explore Behavioral Analytics',
  description = 'We provide tools for crypto research to analyze markets and find data-driven opportunities to optimize your investing. Dive in and explore our on-chain, social and development data.',
  isNavAnimated,
  isNavNightMode,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/icon-144x144.png" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />

    <SEO title={title} description={description} />
  </head>

  <body class={className}>
    <CookiesPopupWrapper client:only="svelte" />
    <Intercom client:only="svelte">
      <Tracking client:load>
        <div data-vaul-drawer-wrapper>
          <Nav isAnimated={isNavAnimated} isNightMode={isNavNightMode} />
          <slot />
        </div>
      </Tracking>
    </Intercom>
    <Notifications client:load />
  </body>
</html>
